.card {
    border: 1px solid $lightGrey;
    border-radius: .25rem;
    padding: 2rem;
    position: relative;
    h2 {
        margin-top: 0;
        &:hover {
            color: $red;
        }
    }
    a {
        color: $dark;
        &:hover {
            color: $red;
        }
        &.read-more {
            color: $red;
        }
    }
    .thumbnail {
        height: 200px;
        margin: 0 -2rem 1rem;
    }
    .snippet {
        margin-bottom: 2rem;
    }
    footer {
        bottom: 1rem;
        position: absolute;
    }
}
