$red: #d62d2c;
$yellow: #ffdf59;

$dark: #172225;
$light: #fff;

$darkGrey: #3a3b4b;
$medGrey: #5c5e7a;
$lightGrey: #c5c8ea;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$rt: 192dpi;

$fontBody: 'Rubik';
$fontHeading: 'Arvo';
